/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 5px;
}
#wrapper{
 width: 890px;
 background-color: #D6D1B1;
 margin: 15px auto;
 padding: 15px;
}
#header{
 /*height: 150px;
 background-color: olivedrab;*/
 margin: 20px;
 text-align: center;
}
#mainBody{
    height: 155px;
    padding: 5px;
}
h1{
    vertical-align: bottom;
    display:inline-block;
}
.imgHead{
    height: 40px;
    width: 70px;
    margin: 5px;
    display: inline-block;
    vertical-align: bottom;
}
.imgBody1{
    height: 130px;
    width: 150px;
    background-color: skyblue;
    margin: 2px;
    padding: 10px;
    border: 3px solid black;
    display: inline-block;
    vertical-align: top;
}
.imgBody2{
    height: 150px;
    width: 150px;
    background-color: #FC6471;
    margin: 2px;
    padding: 0px;
    border: 3px solid black;
    display: inline-block;
    vertical-align: top;
}
